<h1>Cocktails List</h1>

<%= link_to 'Create new cocktail', new_cocktail_path %>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li>
      <%= cocktail.name %>
      <%= link_to 'show', cocktail_path(cocktail) %>
      <%= link_to 'add', new_cocktail_dose_path(cocktail) %>
    </li>
  <% end %>
</ul>
